# Fichiers de données
data/
*.csv

# Environnement Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Fichiers de modèles sauvegardés
*.joblib
*.pkl

# Fichiers de notebook
# .ipynb_checkpoints/
# *.ipynb

# Fichiers système
.DS_Store